
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #0c2802;
}

.conTainer
{
    width: 98%;
    box-shadow: 5px 5px 5px rgba(183, 11, 11, 0.6);
    background-color: seagreen;
    margin: 20px auto;
}
.navBar{
    background-color: hsl(129, 55%, 46%);
    width: 98%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
}
.navBar .logo img
{
    width: 80px;
    height: 70px;
}
.navBar .mainMenu
{
    display: flex;

}

.navBar .mainMenu li
{
    list-style: none;
}
.navBar .mainMenu li a
{
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 700px;
    color: rgb(105, 4, 4);
    cursor: pointer;
}




.navBar .OrderMe button
{
    padding: 10px 30px;
    border: none;
    background-color: rgb(128, 243, 13);
    box-shadow: 3px 3px 4px rgba(59, 1, 1, 0.6);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}
.navBar .OrderMe button:hover{
    background-color: chartreuse;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
/*

.heroSection
{
    background: url("../images/Plant_Collections/grass3.png");
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heroSection h1
{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    text-shadow: 3px 3px 4px rgba(19, 118, 19, 0.5);
    color: rgb(133, 238, 137);

}
.heroSection h1 span
{
    color: rgb(8, 96, 28);
}
.headText h1
{
    text-align: center;
    color: green;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    margin-top: 30px;
    font-family: cursive;
    font-size: 60px;
    

    
}
.aboutplants
{
    width: 90%;
    padding: 40px;
    margin: 30px auto;
}
.aboutplants p
{
    line-height: 1.9;
    font-size: 16px;
    font-family: cursive;
    text-align: justify;
}

.plantCards
{
    width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
    padding: 20px;
    
}

.plantCards .plantCard
{
    width: 210px;
    height: 270px;
    background-color: whitesmoke;
    border: 4px greenyellow;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
    margin: 10px;
}

.plantCards .plantCard img
{
    width: 100%;
    height: 35vh;
    padding: 5px;
}
.plantCards .plantCard p
{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    margin-top: 20px;
   
}

.img-Grass
{
    background-color: #78ca89;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;

}
.img-Grass img
{
    width: 300px;
    height: 250px;
    padding: 5px;
    border: 5px green double;
}